.header__container,
.section-institutional,
.section-courses,
.footer__container {
  border-color: var();
  border-color: var(--color-black);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding: 1.25rem;
}

.header__logo {
  display: block;
  margin: 1rem auto;
}

.header__navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__navbar a:nth-child(2n-1) {
  text-align: right;
}

.header__link,
.footer__link {
  color: var(--color-black);
  font-size: 1.25rem;
  padding: 0.5rem;
  text-decoration: none;
}

.section-institutional {
  padding-right: 0;
  padding-bottom: 16rem;
}

.section-institutional__banner {
  display: block;
  margin: 1.25rem 0 0 auto;
  max-width: 100%;
}

.section-institutional__slogan {
  font-size: 3rem;
  line-height: 105%;
}

.section-institutional__slogan strong {
  display: block;
  position: relative;
}

.section-institutional__slogan strong::after {
  content: "";
  width: 40px;
  height: 36px;
  position: absolute;
  background: url("../../public/assets/images/icon-impact.svg");
  top: -0.75rem;
}

.section-institutional__description {
  font-size: 1.25rem;
  padding-right: 1.25rem;
}

.section-institutional .button {
  position: relative;
}

.section-institutional .button::after {
  content: "";
  background: url("../../public/assets/images/icon-arrow-curve.svg");
  position: absolute;
  top: 5rem;
  right: -4rem;
  height: 48px;
  width: 132px;
}

.section-courses {
  padding-bottom: 8rem;
}

.section-courses__cards {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.25rem;
  margin-top: -8rem;
  margin-bottom: 4rem;
}

.section-courses__card {
  background-color: var(--color-primary);
  box-shadow: 4px 4px 0 var(--color-black);
  max-width: 17rem;
  padding: 2rem 0 0 2rem;
}

.section-courses__card:nth-child(2n) {
  align-self: end;
  background-color: var(--color-secondary);
}

.section-courses__title {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.section-courses__card a {
  display: block;
  margin: 3rem 0 0 auto;
  width: fit-content;
}

.section-courses__slogan {
  font-size: 2.5rem;
}

.footer__container {
  border-bottom: 0;
  padding: 1rem 1.25rem 4rem;
}

.footer__link {
  display: block;
  padding-left: 0;
}

.footer__newsletter label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer__newsletter input {
  border: 2px solid var(--color-black);
  box-shadow: 4px 4px 0 var(--color-black);
  font-size: 1.5rem;
  padding: 1.5rem;
  width: 100%;
  margin-bottom: 1rem;
}
